/* -------------------------------------------------- */
/* HINTS, TIPS, AND TRICKS */
/* -------------------------------------------------- */
/*
- When working from a reference, start by:
	- Identifying the colours.
	- Identifying the fonts/typefaces.
- Write generic styles, then move on to more complex/specific styles.
	- Generic styles include:
		- elements that can be targeted by tag name (eg. 'main')
		- links
		- type elements ('h1', 'p', etc.)
	- Complex/specific styles include:
		- elements that must be targeted by class (eg. '.post')
		- elements that must be targeted using a descendant selector.
- When starting to write responsive styles:
	- Identify the number of layouts.
	- Identify when the layouts change (eg. the 'breakpoints').
	- Test your media queries by making an obvious change to the document, and seeing if it's correctly applied.
- Keep in mind:
	- Preview your CSS in the browser often. Small mistakes can prevent entire stylesheets from being applied.
	- If you're writing a rule that should only be applied when the screen is a certain size, make sure it's inside a media query!
*/

/* -------------------------------------------------- */
/* BOILERPLATE STYLES */
/* -------------------------------------------------- */
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

/* -------------------------------------------------- */
/* BASE STYLES */
/* -------------------------------------------------- */
/*
 Write *YOUR* styles here!
*/
html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%; /* 10px / 16px = 0.625 OR 62.5% */
	background: #efefef;
}

img {
	max-width: 100%;
}

.brand-supporting,
.intro {
	display: none;
}

.post {
	font-size: 4vw; /* 16px / 400px = 4vw */
	background: #fff;
	margin-bottom: 3rem;
}

.post div {
	padding: 1rem;
}

.post h2 {
	font-size: 2em; /* Make the title twice as large as the paragraph. */
}

.post h3 {
	font-size: 0.75em; /* Make the author info smaller than the paragraph. */
}

/* TABLET LAYOUT */
@media screen and ( min-width: 600px ) {
	.post-wrapper {
		width: 94%; /* Make sure the 'post wrapper' is not the full width of the browser. */
		margin: 0 auto; /* Horizontally center/ */
	}

	.post {
		width: 48%;
		float: left;
		font-size: 1.6rem;
	}

	.post:nth-child( even ) {
		margin-left: 4%; /* Target every 'even' '.post', push out from the left side by 4%. */
	}
}
